.flex-content {
	width: 100%;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
}

.main {
	flex-basis: 50%;
	background-color: blue;
	flex-wrap: wrap;

}

.aside {
	flex-basis: 50%;
	background-color: green;
	flex-wrap: wrap;
}

