body {
	transition: all .3s;
	padding: 0;
    margin: 0;
}

.flex-container {
	margin: 0 auto;
	max-width: 1200px;
	display: flex;
	flex-direction: column;
}
    
@media screen and (min-width:480px) and (max-width:800px) {
	.flex-container {
		width: 100%;
	}
}
