.content {
	max-width: 100%;
	margin-top: 20px;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-between;  
    flex-grow: 1;
}

.main {
	width: 800px;
	display: flex;
	flex-wrap: wrap;
	flex-direction: row;
	align-items: flex-start;
	justify-content: space-around;
}

.blog-post {
	width: 300px;
	padding: 35px 30px;
	box-shadow: 5px 5px 15px -1px #DCDCDC;
}

.blog-post:hover {
  -webkit-transform: scale(0.5);
  transform: scale(1.1);
}

.aside {
	width: 400px;
	display: flex;
	flex-wrap: wrap;
	align-items: flex-start;
	justify-content: space-around;
}

.side-post {
	width: 300px;
	padding: 35px 30px;
	box-shadow: 5px 5px 15px -1px rgba(0,0,0,0.3);
}

.aside-socialheader li {
	float: left; 
	display: inline; 
	list-style-type: 
	none; margin: 0 10px;
}
.aside-socialheader li a {
	background: #A9A9A9; 
	color: #fff; 
	border-radius: 50%;  
	width: 30px; height: 30px; 
	line-height: 30px; 
	text-align: center; 
	float: left; 
	font-size: 13px; 
}

.aside-socialheader li:hover a {
	background: #5ba9d2;
}

.subscribe-form {
  display: flex;
  flex-direction: column;
}

.subscribe-form > * {
  margin-bottom: 12px;
}

.subscribe-input {
  padding: 10px;
  border: 2px solid #F5F5F5;
  background-color: #F5F5F5;
}

.subscribe-button {
  border: 1px;
  border-radius: 5px;
  padding: 1em 0;
  background-color: #b5b8cc;
  
  text-transform: uppercase;
  transition: all 250ms;
}

.subscribe-button:hover {
  cursor: pointer;
  background-color: #5ba9d2;
  color: #b5b8cc;
}

ul#socialbottom-side {
	overflow: auto;
}

ul#socialbottom-side li {
	list-style-type: none;
	display: inline-block;
	padding-left: 150px;
	text-align: right;
	padding-left: 50px;
}

ul#socialbottom-side li a i {
	background: #999;
	color: #fff;
	width: 20px;
	height: 17px;
	border-radius: 20px;
	font-size: 14px;
	text-align: center;
	margin-right: 10px;
	padding-top: 3px;
}

.button{
	display: block;
    background: #A9A9A9;
	padding: 10px 15px;
	margin-top: 10px;
	color: #fff;
	font-size: 25px;
    text-align: center;
	border-radius: 2px;
}

.side-search {
  width: 80%;
  border: 2px solid #808080;
  padding: 5px;
  height: 20px;
  border-radius: 5px;
  color: #9DBFAF;
  float: left;
}

.side-searchButton {  
  margin-left: 2px;	
  right: 5px;
  width: 40px;
  height: 34px;
  border: 1px solid #808080;
  background: #808080;
  text-align: center;
  color: #fff;
  border-radius: 4px;
  cursor: pointer;
  font-size: 20px;
}

.tags {
  list-style: none;
  margin: 0;
  overflow: hidden; 
  padding: 0;
}

.tags li {
  float: left; 
}

.tag {
  background: #808080;
  border-radius: 3px 0 0 3px;
  color: #F5F5F5;
  display: inline-block;
  height: 26px;
  line-height: 26px;
  padding: 0 20px 0 23px;
  position: relative;
  margin: 0 10px 10px 0;
  text-decoration: none;
}

.tag::before {
  background: #fff;
  border-radius: 10px;
  box-shadow: inset 0 1px rgba(0, 0, 0, 0.25);
  content: '';
  height: 6px;
  left: 10px;
  position: absolute;
  width: 6px;
  top: 10px;
}

.tag::after {
  background: #fff;
  border-bottom: 13px solid transparent;
  border-left: 10px solid #808080;
  border-top: 13px solid transparent;
  content: '';
  position: absolute;
  right: 0;
  top: 0;
}

.photo {
  padding-top: 8px;
  display: table-cell;
  width: 40px;
}

.comment-date {
  float: left;
}

a { 
	cursor: pointer; 
}

.comments .comment {
  border-radius: 10px;
  font-size: 11px;
  padding: 10px 25px; 
}

.comments .meta { 
	color: #808080; 
}


.comments {
  list-style-type: none;
  padding: 5px 0 0 46px;
  position: relative;
  margin: 0 0 0 2px;

}

.body {
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

.comments:before,
.comments .comment,
.comments .comment:after,
.comments .comment:before,
.comments .photo img,
.comments [class*="level-"] .photo:before {
  box-shadow: 0 1px 3px;
}

.comments .comment {
  margin-bottom: 10px;
  position: relative;
}

.comments .photo {
  position: absolute;
  left: -60px;
  top: 2px;
}
.comments .photo img {
  border: 1px solid #fff;
  border-radius: 32px;
  overflow: hidden;
}