.footer {
	max-width: 100%;
	margin-top: 20px;
	display: flex;
	flex-wrap: wrap;
	flex-direction: row;
	box-shadow: 5px 5px 15px -1px rgba(0,0,0,0.2);
}

.footer-nav {
	flex-grow: 6;
}


.footer-nav a {
	text-decoration: none;
	color: black;
	margin: 2px;
	list-style-type: none;
	font-size: 18px;

}

.footer-nav li {
	display: inline;
	margin: 20px;
}

.copyright {
	flex-grow: 1;
	margin-top: 12px;
	font-size: 18px;
}

@media screen and (max-width: 780px) {
    .copyright {
    	text-align: center;
    }
    .footer-nav {
    	text-align: center;
    }
}