.header {
	min-width: 375px;
	max-width: 1200px;
	margin-bottom: 20px;
	display: flex;
	flex-wrap: wrap;
	flex-direction: row;
	box-shadow: 5px 5px 15px -1px rgba(0,0,0,0.2);
	background-color: #F5F5F5;
}

.logo {
	flex-grow: 1;
}

#menuToggle input{
	display: none;
}

.info {
	display: flex;
	flex-wrap: wrap;
	flex-direction: column;
	flex-grow: 6;
}

.search {
	text-align: right;
	
}

.searchTerm {
  margin-top: 15px; 
  width: 30%;
  border: 3px solid #808080;
  padding: 5px;
  height: 22px;
  border-radius: 5px;
  color: #9DBFAF;
}

.searchButton {
  padding-bottom: 3px;
  right: 2px;
  width: 40px;
  height: 37px;
  border: 2px solid #808080;
  background: #808080;
  text-align: center;
  color: #fff;
  border-radius: 5px;
  cursor: pointer;
  font-size: 20px;
}



ul.socialheader {
  float: right;
}

ul.socialheader li {
  float: left; 
  display: inline; 
  list-style-type: none;
   margin: 0 10px;
}
ul.socialheader li a {
  background: #A9A9A9; 
  color: #fff; 
  border-radius: 50%;  
  width: 30px; height: 30px; 
  line-height: 30px; 
  text-align: center; 
  float: left; 
  font-size: 13px; 
}

ul.socialheader li:hover a {
  background: #5ba9d2;
}

#menu li {
  list-style-type: none;
  display: inline;
  float: right;
  padding: 10px;
}

#menu li a {
  text-decoration: none;
  color: #696969;
  font-size: 20px;
}

#menu li a:hover {
  color: #5ba9d2;
}

@media screen and (max-width: 780px) {

    .social {
      display: none;
    }
    .search {
    	order: 1;
    	width: 95%;
    }
    .logo{
    	order: 2;
    	text-align: center;
    	width: 200px;
    }
    .menu {
    	display: none;
    }
    a {
  text-decoration: none;
  color: #232323;
  
  transition: color 0.3s ease;
}

a:hover {
  color: tomato;
}

#menuToggle {
  display: block;
  position: relative;
  top: 50px;
  left: 50px;
  
  z-index: 1;
  
  -webkit-user-select: none;
  user-select: none;
}

#menuToggle input {
  display: block;
  width: 40px;
  height: 32px;
  position: absolute;
  top: -7px;
  left: -5px;
  
  cursor: pointer;
  
  opacity: 0; 
  z-index: 2;   
  -webkit-touch-callout: none;
}

#menuToggle span {
  display: block;
  width: 33px;
  height: 4px;
  margin-bottom: 5px;
  position: relative;
  background: #cdcdcd;
  border-radius: 3px;
  z-index: 1;
  transform-origin: 4px 0px;
  transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
              background 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
              opacity 0.55s ease;
}

#menuToggle span:first-child {
  transform-origin: 0% 0%;
}

#menuToggle span:nth-last-child(2) {
  transform-origin: 0% 100%;
}

#menuToggle input:checked ~ span {
  opacity: 1;
  transform: rotate(45deg) translate(-2px, -1px);
  background: #232323;
}

#menuToggle input:checked ~ span:nth-last-child(3) {
  opacity: 0;
  transform: rotate(0deg) scale(0.2, 0.2);
}

#menuToggle input:checked ~ span:nth-last-child(2) {
  transform: rotate(-45deg) translate(0, -1px);
}

#menu {
  position: absolute;
  width: 90%;
  margin: -110px 0 0 -50px;
  padding: 50px;
  padding-top: 125px;
  background: #ededed;
  list-style-type: none;
  -webkit-font-smoothing: antialiased; 
  transform-origin: 0% 0%;
  transform: translate(-100%, 0); 
  transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0);
}

#menu li a {		
  padding: 10px 0;
  font-size: 22px;
}

#menuToggle input:checked ~ ul {
  transform: none;
}
}